/* @font-face {
  font-family: "segoe";
  src: url(./fonts/segoepr.ttf) format("ttf");
  font-family: comic;
  src: url(./fonts/comic.ttf) format("ttf"); 
} */
* {
  box-sizing: border-box;
  color: #777;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
html,
body {
  margin: 0;
  padding: 0;
}
.nav ul {
  margin: 0;
}
.nav li {
  display: inline;
  padding: 0 5%;
}
.nav a {
  display: inline-block;
  padding: 0.5em;
  color: white;
  text-decoration: none;
}
.nav a:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
.main-nav {
  text-align: center;
  font-size: 1.1rem;
  font-weight: lighter;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.main-header {
  background-image: url(./images/bg.png);
  background-size: cover;
  background-color: rgb(0, 0, 0, 0.2);
  background-blend-mode: multiply;
  padding-bottom: 20px;
}
.band-name {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 2rem;
  font-weight: normal;
  color: white;
}
.band-name-large {
  font-size: 4rem;
}
.section-content {
  margin: 1rem;
}
.container {
  max-width: 900px;
  margin: 0 auto;
}
.section-header {
  font-weight: normal;
  text-align: center;
  color: #333;
}

.band-image {
  float: left;
  height: 200px;
  border-radius: 50%;
  margin: 15px;
}
.main-footer {
  background-color: #56ccf2;
  color: white;
  padding: 0.25em 0;
}
.main-footer-container {
  display: flex;
  align-items: center;
}

.main-footer-container ul {
  flex-grow: 1;
  text-align: end;
}
.main-footer-container img {
  height: 30px;
  width: 30px;
}
.footer-nav {
  padding: 0 0.5rem;
}
button {
  text-align: center;
  vertical-align: middle;
  padding: 0.67em;
  cursor: pointer;
}
.btn-header {
  margin: 0.5em 15% 2em 15%;
  border: 2px solid rgb(97, 97, 139);
  color: white;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 0;
  font-size: 1.5em;
  font-weight: lighter;
  padding: 15px 50px;
}
.btn-header:hover {
  background-color: rgba(255, 255, 255, 0.3);
}
.btn-play {
  display: block;
  margin: 0 auto;
  padding: 0;
  border-radius: 50%;
  color: rgb(97, 97, 139);
  font-size: 3rem;
  width: 100px;
  height: 100px;
}
.tour-row {
  border-bottom: 1px solid black;
  padding: 1em;
  margin: 1em;
}
.tour-item {
  display: inline-block;
  padding: 0.5em;
}
.tour-date {
  color: #555;
  font-weight: bold;
  width: 15%;
}
.tour-city {
  width: 25%;
}
.tour-arena {
  width: 45%;
}
.tour-btn {
  max-width: 19%;
}
.btn-primary {
  background-color: #56ccf2;
  color: white;
  border: none;
  border-radius: 0.3em;
  font-weight: bold;
}
.btn-primary:hover {
  background-color: teal;
}

.shop-item {
  margin: 15px;
}
.shop-item-title {
  display: block;
  text-align: center;
  width: 100%;
  font-size: 20px;
  color: #333;
  margin-bottom: 15px;
}
.shop-item-image {
  height: 250px;
}
.shop-item-details {
  display: flex;
  align-items: center;
}
.shop-item-price {
  flex-grow: 1;
}
.shop-items {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.cart-header {
  color: #333;
}
.cart-column {
  margin-right: 1.5em;
  border-bottom: 1px solid #333;
  padding-bottom: 5px;
  margin-top: 5px;
  display: flex;
  align-items: center;
}
.cart-row {
  display: flex;
}
.cart-item {
  width: 45%;
}
.cart-price {
  width: 20%;
}
.cart-quantity {
  width: 35%;
}
.cart-item-image {
  height: 75px;
  width: auto;
}
.cart-item-title {
  font-size: 1.2em;
  font-weight: bold;
  margin-left: 10px;
}
.cart-price {
  font-size: 1.2em;
  font-weight: bold;
}
.cart-quantity-button {
  background-color: #cf6969;
}
.cart-quantity-input {
  height: 34px;
  width: 50px;
  border-radius: 5px;
  border: 1px solid #56ccf2;
  text-align: center;
  font-size: 1.2em;
  padding: 0;
  margin-right: 25px;
  color: #333;
  background-color: #eee;
}
.cart-row:last-child {
  border-bottom: 1px solid #333;
}
.cart-row:last-child .cart-column {
  border-bottom: none;
}
.cart-total {
  text-align: end;
  margin-top: 10px;
  margin-right: 10px;
}
.cart-total-title {
  font-size: 1.5em;
  font-weight: bold;
  margin-right: 20px;
  color: black;
}
.cart-total-price {
  font-size: 1.1em;
  font-weight: normal;
  color: #333;
}
.btn-purchase {
  font-size: 1.75em;
  display: block;
  margin: 40px auto 80px auto;
}
